@media only screen and (max-width: 1280px) {

    .best_around .container .wrapper {
        gap: 11px;
    }

    .main_banner .owl-nav .owl-prev {
        left: 19px;
    }

    .main_banner .owl-nav .owl-next {
        right: 19px;
    }

}

@media only screen and (max-width: 1024px) {
    .owl-nav {
        display: none;
    }
    header .container a.navbar-brand {
        margin-right: 228px;
    }
    .latest_offers .container .item_laptop{
        overflow: hidden;
    }
    .latest_offers .container .item_watch{
        padding-left: 0;
    }
}