@media only screen and (max-width: 1280px){

    .best_around .container .wrapper{
        gap: 11px;
    }
    .latest_offers .container .row{
        margin: inherit;
    }
    .main_banner .owl-nav .owl-prev{
        left: 19px;
    }
    .main_banner .owl-nav .owl-next{
        right: 19px;
    }

}