@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "bootstrap.css";
body {
  overflow-x: hidden;
}

.container {
  max-width: 1294px;
}

header .container {
  padding: 29px 0;
}
header .container a.navbar-brand {
  margin-right: 285px;
  padding-top: 0;
}
header .container .navbar-nav li {
  margin-left: 33px;
}
header .container .navbar-nav li:first-of-type {
  margin-left: 0;
}
header .container .navbar-nav li a.nav-link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  cursor: pointer;
}
header .container .navbar-nav li a.dropdown-toggle::after {
  background-image: url("../images/dropdown.svg");
  width: 12px;
  height: 8px;
  border: none;
  position: relative;
  top: 4px;
  margin-left: 4px;
}
header .icons {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
header .icons li {
  margin-left: 27px;
}
header .icons li a {
  display: block;
  width: 24px;
  height: 24px;
}
header .icons li a img {
  width: 100%;
}

.main_banner .container {
  background-color: #DCE5E2;
  border-radius: 32px;
  padding-top: 145px;
  padding-bottom: 127px;
  padding-left: 56px;
  overflow: hidden;
}
.main_banner .container h1 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  font-style: normal;
  margin-bottom: 19px;
}
.main_banner .container p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}
.main_banner .container a.btn {
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  transition: 0.4s;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.main_banner .container a.btn:hover {
  transform: scale(1.2);
}
.main_banner .container .main_banner_img {
  bottom: 0;
  right: 0px;
  width: 647px;
  height: 550px;
}
.main_banner .owl-item img {
  width: inherit;
}
.main_banner .owl-dots {
  text-align: center;
}
.main_banner .owl-dots .owl-dot span {
  display: inline-block;
  background-color: black;
  width: 194px;
  height: 2px;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
  bottom: 40px;
}
.main_banner .owl-nav .owl-prev {
  position: absolute;
  left: 124px;
  top: 268px;
}
.main_banner .owl-nav .owl-prev:after {
  display: inline-block;
  content: "";
  width: 14px;
  height: 26px;
  background-image: url("/images/owl_prev.svg");
}
.main_banner .owl-nav .owl-next {
  position: absolute;
  right: 124px;
  top: 268px;
}
.main_banner .owl-nav .owl-next:after {
  display: inline-block;
  content: "";
  width: 14px;
  height: 26px;
  background-image: url("/images/owl_next.svg");
}

.latest_offers .container {
  padding-top: 47px;
  padding-bottom: 28px;
  text-align: center;
}
.latest_offers .container h2 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
.latest_offers .container p {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 55px;
}
.latest_offers .container .item_laptop {
  padding-right: 42px;
  padding-left: 42px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  text-align: left;
  margin-bottom: 30px;
  transition: 0.4s;
}
.latest_offers .container .item_laptop:hover {
  transform: translateY(30px);
}
.latest_offers .container .item_laptop p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  margin-bottom: 0;
}
.latest_offers .container .item_laptop h4 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  margin-bottom: 0;
}
.latest_offers .container .item_watch {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  padding-left: 42px;
  padding-right: 42px;
  transition: 0.4s;
  overflow: hidden;
}
.latest_offers .container .item_watch:hover {
  transform: translateY(30px);
}
.latest_offers .container .item_watch p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0;
  text-align: right;
}
.latest_offers .container .item_watch h4 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  margin-bottom: 0;
}
.latest_offers .container .item_phones {
  height: 772px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 552px;
  transition: 0.4s;
}
.latest_offers .container .item_phones:hover {
  transform: translateY(30px);
}
.latest_offers .container .item_phones p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0;
}
.latest_offers .container .item_phones h4 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}
.latest_offers .container .item_phones img {
  position: absolute;
  top: 144px;
  left: 16px;
}
.latest_offers .container .item-tablet {
  height: 772px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 104px;
  transition: 0.4s;
}
.latest_offers .container .item-tablet:hover {
  transform: translateY(30px);
}
.latest_offers .container .item-tablet p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0;
}
.latest_offers .container .item-tablet h4 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}
.latest_offers .container .item-tablet img {
  position: absolute;
  bottom: 115px;
  left: 0;
}

.most_selled .container {
  padding-top: 72px;
  padding-bottom: 27px;
}
.most_selled .container h3 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 9px;
}
.most_selled .container p {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 59px;
}
.most_selled .container article {
  max-width: 303px;
  text-align: left;
}
.most_selled .container article a {
  display: block;
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 9px;
}
.most_selled .container article a:hover {
  text-decoration: none;
}
.most_selled .container article a:first-of-type {
  margin-bottom: 37px;
}
.most_selled .container article p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  text-align: left;
  margin-bottom: 25px;
  min-height: 51px;
}

.best_around .container {
  padding-top: 47px;
  padding-bottom: 28px;
}
.best_around .container h3 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  padding-bottom: 9px;
}
.best_around .container p {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 56px;
}
.best_around .container .wrapper {
  gap: 22px;
}
.best_around .container .wrapper article {
  text-align: center;
  background-color: #F8F9FA;
  border-radius: 16px;
  padding: 41px 77px 0 77px;
  max-width: 413px;
}
.best_around .container .wrapper article:first-of-type img {
  min-width: 259px;
}
.best_around .container .wrapper article:nth-child(2) img {
  max-width: 294px;
  position: relative;
  right: 16px;
}
.best_around .container .wrapper article:nth-child(3) img {
  max-width: 355px;
  position: relative;
  right: 48px;
}
.best_around .container .wrapper p {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: inherit;
}
.best_around .container .wrapper h5 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 30px;
}
.best_around .container .wrapper a.btn {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
  margin-bottom: 44px;
  transition: 0.4s;
}
.best_around .container .wrapper a.btn:hover {
  transform: scale(1.2);
}

.ideas .container {
  padding-top: 47px;
  padding-bottom: 24px;
}
.ideas .container h3 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
.ideas .container p {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 56px;
}
.ideas .container .wrapper {
  margin-bottom: 73px;
}
.ideas .container .wrapper .img_wrapper {
  max-width: 620px;
  border-radius: 16px;
}
.ideas .container .wrapper .img_wrapper img {
  display: block;
  width: 100%;
}
.ideas .container .wrapper .text_wrapper {
  padding-top: 15px;
}
.ideas .container .wrapper .text_wrapper p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.ideas .container a.btn {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.ideas .container a.btn:after {
  content: "";
  background-image: url("../images/see_all.svg");
  width: 25px;
  height: 22px;
  display: inline-block;
}

.tag_cloud .container {
  padding-top: 51px;
  padding-bottom: 68px;
  text-align: center;
}
.tag_cloud .container h3 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 24px;
}
.tag_cloud .container form {
  margin-bottom: 18px;
  max-width: 650px;
  width: 650px;
  display: inline-block;
  position: relative;
}
.tag_cloud .container form input {
  width: 100%;
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  padding: 21px 0 22px 67px;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.tag_cloud .container form input::placeholder {
  color: #000000;
}
.tag_cloud .container form button {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 21px;
  background-image: url("../images/form_search.svg");
  width: 30px;
  height: 29px;
  border: none;
  background-color: transparent;
}
.tag_cloud .container .tag_wrapper {
  max-width: 550px;
  gap: 7px;
  margin: auto;
}
.tag_cloud .container .tag_wrapper span {
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  padding: 12px 22px 13px 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.never_miss .container {
  padding-top: 42px;
  padding-bottom: 19px;
}
.never_miss .container .wrapper {
  max-width: 935px;
  background-color: #DCE5E2;
  border-radius: 16px;
  margin: auto;
  padding-top: 47px;
  padding-bottom: 43px;
  text-align: center;
}
.never_miss .container .wrapper h3 {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 9px;
}
.never_miss .container .wrapper p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 14px;
}
.never_miss .container .wrapper img {
  max-width: 233px;
  width: 100%;
  margin-bottom: 14px;
}
.never_miss .container .wrapper .form_wrapper {
  max-width: 400px;
  margin: auto;
}
.never_miss .container .wrapper .form_wrapper input {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 0 17px 32px;
  width: 70%;
  outline: none;
  display: block;
}
.never_miss .container .wrapper .form_wrapper input::placeholder {
  color: #000000;
}
.never_miss .container .wrapper .form_wrapper input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}
.never_miss .container .wrapper .form_wrapper button {
  background-color: black;
  border: none;
  border-radius: 0 54px 54px 0;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 33px 17px 32px;
  width: 30%;
  display: block;
}

footer {
  background-color: #F8F9FA;
  border-top: 1px solid #DCE5E2;
}
footer .container {
  padding-top: 44px;
  padding-bottom: 4px;
}
footer .container a {
  margin-bottom: 18px;
  display: inline-block;
}
footer .container a img {
  display: block;
}
footer .container p {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
footer .container ul {
  list-style: none;
}
footer .container ul li:first-of-type {
  font-family: "Readex Pro", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 19px;
}
footer .container ul li a {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 14px;
  text-decoration: none;
}
footer .container .wrapper {
  border-bottom: 1px solid #DCE5E2;
  margin-bottom: 52px;
  padding-bottom: 78px;
}
footer .container .copyright a {
  font-family: "Inter", sans-serif;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
footer .container .copyright a span {
  display: inline-block;
  position: relative;
  bottom: -9px;
}

/*# sourceMappingURL=style.css.map */
