@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "bootstrap.css";

$font_inter: 'Inter', sans-serif;
$font_pro: 'Readex Pro', sans-serif;
$main_color: #000000;

header {
  .container {
    max-width: 1294px;
    padding: 29px 0;


    a.navbar-brand {
      margin-right: 285px;
      padding-top: 0;
    }

    .navbar-nav {
      li {
        margin-left: 33px;

        &:first-of-type {
          margin-left: 0;
        }

        a.nav-link {
          font-family: $font_inter;
          font-size: 14px;
          line-height: 17px;
          color: $main_color;
          padding: 0;
          cursor: pointer;
        }

        a.dropdown-toggle {
          &::after {
            background-image: url("../images/dropdown.svg");
            width: 12px;
            height: 8px;
            border: none;
            position: relative;
            top: 4px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  .icons {
    list-style: none;
    display: flex;
    margin-bottom: 0;

    li {
      margin-left: 27px;

      a {
        display: block;
        width: 24px;
        height: 24px;

        img {
          width: 100%;
        }
      }
    }
  }
}

.main_banner {

  .container {
    max-width: 1294px;
    background-color: #DCE5E2;
    border-radius: 32px;
    padding-top: 145px;
    padding-bottom: 127px;
    padding-left: 56px;
    overflow: hidden;

    h1 {
      font-family: $font_pro;
      color: $main_color;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      font-style: normal;
      margin-bottom: 19px;
    }

    p {
      font-family: $font_inter;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
    }

    a.btn {
      padding: 14px 53px;
      border: 1px solid #000000;
      border-radius: 200px;
      transition: 0.4s;
      font-family: $font_inter;
      color: $main_color;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        transform: scale(1.2);
      }
    }

    .main_banner_img {
      bottom: 0;
      right: 0px;
      width: 647px;
      height: 550px;

    }

  }

  .owl-item {
    img {
      width: inherit;
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot {
      span {
        display: inline-block;
        background-color: black;
        width: 194px;
        height: 2px;
        margin-left: 17px;
        margin-right: 17px;
        position: relative;
        bottom: 40px;
      }
    }
  }

  .owl-nav {
    .owl-prev {
      position: absolute;
      left: 124px;
      top: 268px;

      &:after {
        display: inline-block;
        content: "";
        width: 14px;
        height: 26px;
        background-image: url("/images/owl_prev.svg");
      }
    }

    .owl-next {
      position: absolute;
      right: 124px;
      top: 268px;

      &:after {
        display: inline-block;
        content: "";
        width: 14px;
        height: 26px;
        background-image: url("/images/owl_next.svg");
      }
    }
  }

}

.latest_offers {
  .container {
    max-width: 1294px;
    padding: inherit;
    padding-top: 47px;
    padding-bottom: 28px;
    text-align: center;

    h2 {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 9px;
    }

    p {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 55px;
    }

    .item_laptop {
      padding-right: 42px;
      padding-left: 42px;
      box-shadow: (0px 4px 35px rgba(0, 0, 0, 0.25));
      text-align: left;
      margin-bottom: 30px;
      transition: 0.4s;

      &:hover {
        transform: translateY(30px);
      }

      p {
        font-family: $font_inter;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        margin-bottom: 0;
      }

      h4 {
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        margin-bottom: 0;
      }

    }

    .item_watch {
      box-shadow: (0px 4px 35px rgba(0, 0, 0, 0.25));
      padding-left: 42px;
      padding-right: 42px;
      transition: 0.4s;

      &:hover {
        transform: translateY(30px);
      }

      p {
        font-family: $font_inter;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 0;
        text-align: right;
      }

      h4 {
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        margin-bottom: 0;
      }
    }

    .item_phones {
      height: 772px;
      box-shadow: (0px 4px 35px rgba(0, 0, 0, 0.25));
      text-align: center;
      position: relative;
      overflow: hidden;
      padding-top: 552px;
      transition: 0.4s;

      &:hover {
        transform: translateY(30px);
      }

      p {
        font-family: $font_inter;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 0;
      }

      h4 {
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 0;
      }

      img {
        position: absolute;
        top: 144px;
        left: 16px;
      }
    }

    .item-tablet {
      height: 772px;
      box-shadow: (0px 4px 35px rgba(0, 0, 0, 0.25));
      text-align: center;
      position: relative;
      overflow: hidden;
      padding-top: 104px;
      transition: 0.4s;

      &:hover {
        transform: translateY(30px);
      }

      p {
        font-family: $font_inter;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 0;
      }

      h4 {
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 0;
      }

      img {
        position: absolute;
        bottom: 115px;
        left: 0;
      }
    }
  }
}

.most_selled {
  .container {
    max-width: 1294px;
    padding-top: 72px;
    padding-bottom: 27px;


    h3 {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      margin-bottom: 9px;
    }

    p {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      margin-bottom: 59px;
    }

    article {
      max-width: 303px;
      text-align: left;

      a {
        display: block;
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 9px;

        &:hover {
          text-decoration: none;
        }

        &:first-of-type {
          margin-bottom: 37px;
        }
      }

      p {
        font-family: $font_inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        text-align: left;
        margin-bottom: 25px;
        min-height: 51px;
      }
    }
  }
}

.best_around {
  .container {
    max-width: 1294px;
    padding-top: 47px;
    padding-bottom: 28px;
    text-align: center;

    h3 {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      padding-bottom: 9px;
    }

    p {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 56px;
    }

    .wrapper {
      gap: 22px;

      article {
        text-align: center;
        background-color: #F8F9FA;
        border-radius: 16px;
        padding: 41px 77px 0 77px;
        max-width: 413px;

        &:first-of-type {
          img {
            min-width: 259px;
          }
        }
        &:nth-child(2){
          img {
            max-width: 294px;
            position: relative;
            right: 16px;
          }
        }
        &:nth-child(3){
          img {
            max-width: 355px;
            position: relative;
            right: 48px;
          }
        }
      }

      p {
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: inherit;
      }

      h5 {
        font-family: $font_pro;
        color: $main_color;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
      }

      a.btn {
        font-family: $font_pro;
        color: $main_color;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        padding: 14px 63px;
        border: 1px solid #000000;
        border-radius: 200px;
        margin-bottom: 44px;
        transition: 0.4s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.ideas {
  .container {
    max-width: 1294px;
    padding-top: 47px;
    padding-bottom: 24px;
    text-align: center;

    h3 {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 9px;
    }

    p {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 56px;
    }

    .wrapper {
      margin-bottom: 73px;

      .img_wrapper {
        max-width: 620px;
        border-radius: 16px;

        img {
          display: block;
          width: 100%;
        }
      }

      .text_wrapper {
        padding-top: 15px;

        p {
          font-family: $font_inter;
          color: $main_color;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          text-align: left;
        }
      }
    }

    a.btn {
      font-family: $font_inter;
      color: $main_color;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-align: center;

      &:after {
        content: "";
        background-image: url("../images/see_all.svg");
        width: 25px;
        height: 22px;
        display: inline-block;
      }
    }
  }
}

.tag_cloud {
  .container {
    max-width: 1294px;
    padding-top: 51px;
    padding-bottom: 68px;
    text-align: center;

    h3 {
      font-family: $font_pro;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 24px;
    }

    form {
      margin-bottom: 18px;
      max-width: 650px;
      width: 650px;
      display: inline-block;
      position: relative;

      input {
        width: 100%;
        background-color: #F8F9FA;
        border: 1px solid #C5C5C5;
        border-radius: 100px;
        padding: 21px 0 22px 67px;
        font-family: $font_inter;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        &::placeholder {
          color: $main_color;
        }
      }

      button {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 21px;
        background-image: url("../images/form_search.svg");
        width: 30px;
        height: 29px;
        border: none;
        background-color: transparent;
      }
    }

    .tag_wrapper {
      max-width: 550px;
      gap: 7px;
      margin: auto;

      span {
        border: 1px solid #C5C5C5;
        border-radius: 200px;
        padding: 12px 22px 13px 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        font-family: $font_inter;
        color: $main_color;
      }
    }
  }
}

.never_miss {
  .container {
    max-width: 1294px;
    padding-top: 42px;
    padding-bottom: 19px;

    .wrapper {
      max-width: 935px;
      background-color: #DCE5E2;
      border-radius: 16px;
      margin: auto;
      padding-top: 47px;
      padding-bottom: 43px;
      text-align: center;

      h3 {
        font-family: $font_pro;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 52px;
        margin-bottom: 9px;
      }

      p {
        font-family: $font_inter;
        color: $main_color;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 14px;
      }

      img {
        max-width: 233px;
        width: 100%;
        margin-bottom: 14px;
      }

      .form_wrapper {
        max-width: 400px;
        margin: auto;

        input {
          background-color: transparent;
          border: 1px solid #000000;
          border-radius: 54px 0 0 54px;
          font-family: $font_inter;
          color: $main_color;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          padding: 16px 0 17px 32px;
          width: 70%;
          outline: none;
          display: block;

          &::placeholder {
            color: $main_color;
          }

          &:-webkit-autofill {
            transition: all 5000s ease-in-out 0s;
          }
        }

        button {
          background-color: black;
          border: none;
          border-radius: 0 54px 54px 0;
          font-family: $font_inter;
          color: white;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          padding: 16px 33px 17px 32px;
          width: 30%;
          display: block;
        }
      }

    }
  }
}

footer {
  background-color: #F8F9FA;
  border-top: 1px solid #DCE5E2;

  .container {
    max-width: 1294px;
    padding-top: 44px;
    padding-bottom: 4px;

    a {
      margin-bottom: 18px;
      display: inline-block;

      img {
        display: block;
      }
    }

    p {
      font-family: $font_inter;
      color: $main_color;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }

    ul {
      list-style: none;

      li {
        &:first-of-type {
          font-family: $font_pro;
          color: $main_color;
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 19px;
        }

        a {
          font-family: $font_inter;
          color: $main_color;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          margin-bottom: 14px;
          text-decoration: none;
        }
      }
    }

    .wrapper {
      border-bottom: 1px solid #DCE5E2;
      margin-bottom: 52px;
      padding-bottom: 78px;
    }

    .copyright {
      a {
        font-family: $font_inter;
        color: $main_color;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        span {
          display: inline-block;
          position: relative;
          bottom: -9px;
        }
      }
    }
  }
}